<div class="page_head">
  <h2>IMPORT PROFILE</h2>
</div>
<app-wizard></app-wizard>

  <div class="dasboard-cont">
    <div class="page_sub_head"><p>Create your Job Profile</p></div>
    <p class="mb-4 gray-color">To create your profile choose any of the options below</p>



    <div class="col-md-12 mb-4">

      <div class="row mt-5 pt-1">
         <!-- div class="col-md-4 pe-3 ps-3 text-center">
            <div class="import_profile">
               <img src="../../../assets/images/dashboard/social_profile.svg">
               <button type="button"  (click)="linkedinLogin()">Create Profile via LinkedIn</button>
               <p>This will link your LinkedIn profile with iApply and share the information</p>
            </div>
         </div -->
         <div class="col-md-6 pe-3 ps-3 text-center">
            <div class="import_profile">
               <img src="../../../assets/images/dashboard/resume.svg">
               <button type="button"  (click)="uploadResume()">Resume</button>
               <p>Upload your Resume here</p>
            </div>
         </div>
         <div class="col-md-6 pe-3 ps-3 text-center">
            <div class="import_profile">
               <img src="../../../assets/images/dashboard/create_profile.svg">
               <button type="button"   (click)="createProfile()">Create</button>
               <p>Create your own Profile</p>
            </div>
         </div>
      </div>
   </div>




    <!-- <div class="content option-card">
    <div class="container-fluid">
    <div class="row">
          <div class="btn-toolbar" >
            <button type="button" class="btn btn-default btn-lg mr-3">Create Profile via LinkedIn</button>

            <button type="button" class="btn btn-default btn-lg mr-3 ml-5" (click)="uploadResume()">Resume</button>

            <button type="button" class="btn btn-default btn-lg mr-3 ml-5" (click)="createProfile()">Create</button>

          </div>
        </div>
    </div>
</div> -->
</div>
