
   <div class="middle_content">
    <div class="page_head">
       <h2>ADD NEW JOB TITLE</h2>
    </div>
    <div class="row mt-4">

       <div class="col-md-12">
         <div class="round_brdr_box bg-white no_radius">
          <span class="back_btn" (click)="Return()">&nbsp;&nbsp;<i class="fa fa-arrow-left"></i>back</span>
          <div class="subhead mt-3">
             <h4 class="d-md-flex align-items-center justify-content-between">Add New Job Title / Skills</h4>
          </div>
          <div class="d-flex justify-content-between">
             <div class="inr_border_box add_usr mt-4 col-md-6">
                <div class="col-md-12">
                  <form  [formGroup]="JobTitleForm" (ngSubmit)="onSubmit()">
                  <div class="row filter_5_col">

                   <div class="">
                      <div class="subhead "><h4>New Job Title:</h4> </div>
                      <div class="form-holder1 w-100 p-0 mb-2">
                        <div class="input-group">
                          <input type="text" formControlName="Title" id="Title" name="Title" placeholder="" class="form-control" data-parsley-trigger="change">
                          <!-- <span class="text-danger" *ngIf="pSubmitted && JobTitleForm.controls['Title'].hasError('required')">JobTitle is required</span>
                          <span class="text-danger" *ngIf="pSubmitted && JobTitleForm.controls['Title'].hasError('pattern')">Please enter JobTitle</span> -->
                          </div>
                      </div>
                   </div>

                   <div class="d-flex  align-items-center mt-2">
                      <div class="btm_btn ">
                         <div class="d-flex ">

                          <button type="submit" class="btn btn-primary continue mr-3">
                          Add New JobTitle
                            </button>
                         </div>
                      </div>
                   </div>


                </div>
</form>
             </div>
          </div>

          <div class="inr_border_box add_usr  mt-4 col-md-6">
             <div class="col-md-12">
              <form  [formGroup]="JobSkillsForm" (ngSubmit)="onSkillsSubmit()">
               <div class="row filter_5_col">

                <div class="">
                   <div class="subhead "><h4>New Skills:</h4> </div>
                   <div class="form-holder1 w-100 p-0 mb-2">
                    <div class="input-group">
                      <input type="text" formControlName="Skills" id="Skills" name="Skills" placeholder="" class="form-control" data-parsley-trigger="change">
                      <!-- <span class="text-danger" *ngIf="Submitted && JobSkillsForm.controls['Skills'].hasError('required')">JobTitle is required</span>
                      <span class="text-danger" *ngIf="Submitted && JobSkillsForm.controls['Skills'].hasError('pattern')">Please enter JobTitle</span> -->
                      </div>
                   </div>
                </div>

                <div class="d-flex align-items-center mt-2">
                   <div class="btm_btn ">
                      <div class="d-flex ">

                        <button type="submit" class="btn btn-primary continue mr-3">
                          Add New Skills
                            </button>
                      </div>
                   </div>
                </div>


             </div>
            </form>
          </div>
       </div>
    </div>

 </div>

</div>

<div class="alert alert-danger alert-dismissible fade " role="alert">
 <i class="fas fa-exclamation-circle"></i> Your Payment Has Been Unsuccessful, Please Try To Make Payment Again
 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
 </button>
</div>
</div>
</div>
