.icon {
    margin: inherit;
    display: contents;
}

.VideoTutorial
{
width: 150px;
height: 32px;
background: #2CBF8C 0% 0% no-repeat padding-box;
border-radius: 8px;
display: flex;
align-items: center;
justify-content: center;
color: #ffffff;
text-transform: uppercase;
margin: 0 auto;
}

