<div class="edit_page">
  <div class="page_head">
    <h2>CONTENT UPDATE</h2>
 </div>

 <div class="row ">
  <div class="col-md-12">
    <div class="subhead mt-3 mb-3">
      <h4 class="d-md-flex align-items-center justify-content-between">Features Section</h4>
    </div>

  <div class="round_brdr_box bg-white no_radius">
    <form [formGroup]="FeaturesSectionForm">
      <div class="row">
        <div class="col-md-12">
          <div class="subhead mb-2">
            <h4>Title:</h4>
         </div>
         <div class="form-holder1 w-100 p-0 mb-2">
            <div class="input-group">
            <input type="text" formControlName="Title" class="form-control" placeholder="Enter Title" autocomplete="off">
            <div *ngIf="submitted && fsf.Title.errors" class="invalid-feedback">
              <div *ngIf="fsf.Title.errors.required">Title is required</div>
              <div *ngIf="fsf.Title.errors.pattern">Please enter valid Title</div>
            </div>
          </div>
        </div>
        </div>
    </div>
    
    <div class="row">
    <div class="col-md-12">
      <div class="subhead mb-2">
        <h4>Sub-Title:</h4>
     </div>
     <div class="form-holder1 w-100 p-0 mb-2">
        <div class="input-group">
        <!-- <input type="text" formControlName="SubTitle" class="form-control" placeholder="Enter Sub-Title" autocomplete="off"> -->
        
        <ckeditor formControlName="SubTitle" [editor]="Editor" (change)="onChange($event)" (ready)="onReady($event)"></ckeditor>

        <div *ngIf="submitted && fsf.SubTitle.errors" class="invalid-feedback">
          <div *ngIf="fsf.SubTitle.errors.required">Sub-Title is required</div>
          <div *ngIf="fsf.SubTitle.errors.pattern">Please enter valid Sub-Title</div>
        </div>
      </div>
    </div>
  </div>
    </div>

      <div class="row" formArrayName="FeaturesContent">
        <div class="col-md-12" *ngFor="let Feature of FeaturesContent.controls; let i=index">
          <div [formGroupName]="i">
            <ckeditor formControlName="HtmlContent" [editor]="Editor" (change)="onChange($event)" (ready)="onReady($event)"></ckeditor>
            <div *ngIf="submitted && FeaturesContent.controls[i].get('HtmlContent').errors" class="invalid-feedback">
              <div *ngIf="FeaturesContent.controls[i].get('HtmlContent').errors?.required">Data is required</div>
            </div>
            <button class="btn btn-danger float-right mb-3" (click)="removeFeatureContent(i)">Remove</button>
          </div>
        </div>
        <button class="btn btn-success add-btn" (click)="addFeatureContent('')">Add More</button>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="subhead mb-2">
            <h4>User Comment:</h4>
         </div>
         <div class="form-holder1 w-100 p-0 mb-2">
            <div class="input-group">
            <textarea formControlName="Comment" class="form-control" rows="5"></textarea>
            <div *ngIf="submitted && fsf.Comment.errors" class="invalid-feedback">
              <div *ngIf="fsf.Comment.errors.required">Comment is required</div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="btm_btn mt-4 mb-4 col-md-12 " *ngIf=" currentUserType == 'Standard'" >
        <div class="d-flex justify-content-end">
           <div>
              <!-- <a href="" class="back  me-3">CANCEL</a> -->
              <button (click)="onCancel()" class="back btn  me-3">CANCEL</button>
           </div>
           <div class="d-flex justify-content-end">
              <!-- <a href="" class="draft">SUBMIT FOR APPROVAL</a> -->
              <button (click)="updateFeaturesSection()" class="draft">SUBMIT FOR APPROVAL</button>
           </div>
        </div>
     </div>

     <div class="btm_btn mt-4 mb-4 col-md-12 " *ngIf=" currentUserType == 'Admin'">
      <div class="d-flex justify-content-end">
         <div>
            <!-- <a href="" class="back  me-3">CANCEL</a> -->
            <button (click)="onCancel()" class="back btn  me-3">CANCEL</button>
         </div>
         <div class="d-flex justify-content-end">
            <!-- <a href="" class="draft me-3">SAVE</a>
            <a href="" class="continue">PUBLISH</a> -->
            <button (click)="saveFeaturesSection()" class="btn btn-success float-right mb-3 mr-2">SAVE</button>
            <button value="Approved" (click)="approveFeaturesSection('Approved')" class="continue me-3">PUBLISH</button>
            <button value="Rejected" (click)="approveFeaturesSection('Rejected')" class="continue">REJECT</button>
         </div>
      </div>
   </div>

      <!-- <button *ngIf=" currentUserType == 'Standard'" (click)="updateFeaturesSection()" class="btn btn-success float-right mb-3"> <i class="fi flaticon-multiply"></i>&nbsp; Submit for Approval</button>
      <button *ngIf=" currentUserType == 'Standard'" (click)="onCancel()" class="btn btn-success float-right mb-3 mr-2">Cancel</button>

      <button *ngIf=" currentUserType == 'Admin'" (click)="onCancel()" class="btn btn-success float-right mb-3">Cancel</button>
      <button *ngIf=" currentUserType == 'Admin'" (click)="approveFeaturesSection('Rejected')" class="btn btn-success float-right mb-3 mr-2"><i class="fi flaticon-multiply" value="Rejected"></i>&nbsp;Reject</button>
      <button *ngIf=" currentUserType == 'Admin'" (click)="approveFeaturesSection('Approved')" class="btn btn-success float-right mb-3 mr-2"> <i class="fi flaticon-plus" value="Approved"></i>&nbsp; Approve & Publish</button> -->

    </form>
  </div>
</div>
</div>
</div>
