.widget {
  height: 320px;
}
@import "../../../styles/helpers";
@import "../../../../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min";
@import "../../../../../node_modules/bootstrap-timepicker/css/bootstrap-timepicker.min";
@import "../../../../../node_modules/bootstrap-colorpicker/src/sass/colorpicker";
@import "../../../../../node_modules/bootstrap-markdown/css/bootstrap-markdown.min";
@import "../../../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
@import "../../../../../node_modules/jasny-bootstrap/dist/css/jasny-bootstrap";
@import "../../../styles/select2-variables";
@import "../../../../../node_modules/select2/src/scss/core";
@import "../../../../../node_modules/select2-bootstrap-theme/src/select2-bootstrap";

.fileinput.fileinput-new {
  .thumbnail {
    padding: $thumbnail-padding;
    line-height: $line-height-base;
    background-color: $thumbnail-bg;
    border: $thumbnail-border-width solid $thumbnail-border-color;
    border-radius: $thumbnail-border-radius;
    transition: all .2s ease-in-out;
    @include box-shadow(0 1px 2px rgba(0,0,0,.075));
  }
}

.fileinput-preview.fileinput-exists {
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  padding: 5px;
}

.fileinput.input-group {
  display: flex;
}

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 $border-radius $border-radius 0;

  &.btn-xs,
  &.btn-sm {
    border-radius: 0 $border-radius-sm $border-radius-sm 0;
  }

  &.btn-lg {
    border-radius: 0 $border-radius-lg $border-radius-lg 0;
  }
}

.form-group.has-warning .fileinput {
  .fileinput-preview {
    color: $warning;
  }

  .thumbnail {
    border-color: $warning;
  }
}

.form-group.has-error .fileinput {
  .fileinput-preview {
    color: $danger;
  }

  .thumbnail {
    border-color: $danger;
  }
}

.form-group.has-success .fileinput {
  .fileinput-preview {
    color: $success;
  }

  .thumbnail {
    border-color: $success;
  }
}

.btn-label {
  background: transparent;
  left: 2px;
  padding: 1px 6px;
}

.invalid-feedback {
display: block;
}

/*****************************/

.content.content-option {
  padding: 1rem 1rem !important;
  margin: 2rem 5rem;
  background-color: #dadada;
  border-radius: 10px;
}
.content-option-list {
  justify-content: space-around;
}
.content-option-item {
  background-color: #c5c5c5;
  margin: 1rem 1rem;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
}
.mat-icon {
  transform: scale(2);
  margin-bottom: 1rem;
}
.content-option-item.active {
  border-bottom-style: solid;
  border-bottom-color: blue;
  border-bottom-width: 5px;
}

.option-card {
  border: 1px solid black;
  margin: 5rem 5rem;
  padding-top: 40px;
}

.align-center {
  text-align: center;
}

.content-item-box {
  margin: 0rem 3rem;
  padding: 1rem 0rem;
}

.content-lablel-box {
  background-color: #d6dee5;
  padding: 1.5rem 0rem;
}

.content-btn-box {
  padding: 10px 0px;
}

.content-btn {
  width: 12rem;
  padding: 10px 5px;
}

.content-item {
  margin-bottom: 2rem;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 200px;
}


.widget {
height: 630px;
}

.add-btn {
width: auto;
margin-left: 1rem;
margin-bottom: 1rem;
}
