.association-us{
  padding-top: 2rem;
}

.association-us-title {
  padding: 10px;
}
h3 {
  width: 100%;
  text-align:center;
  margin-top: 150px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #29323A;
  font-size: medium;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #29323a;
  text-align: left;
  background-color: #E1E1DF;
}
