<div class="page_head">
  <h2>MY PROFILE</h2>
</div>
<app-wizard></app-wizard>
<div class="modal fade show" id="PaymentStatus" style="display: block; background: rgb(0 0 0 / 40%) !important;" >

  <div class="modal-dialog  modal-dialog-centered modal-lg">
    <div class="modal-content">
      <!-- <div class="model-header">  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
      </div> -->
      <!-- <div class="modal-body">
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div> -->
      <div class="modal-body">
        <div *ngIf="Success " class="text-center pb-4">
               <!-- <img src="./assets/images/dashboard/double check_ok.svg"> -->
               <i class="far fa-check-circle green-color" style="font-size: 60px;"></i>
             <h5 class="modal-title pt-4 pb-4 mb-0" id="">Thank You  For Subscribing <br>Your payment is successful.<br> The tracking id no  for your transaction  is {{trackingid}}</h5>
            
          
              <button (click)="dashboard()" type="submit" class="continue btn btn-primary  m-auto">GO TO DASHBOARD</button>
          </div>
          <div *ngIf="!Success" class="text-center  pb-4">
           
              <!-- <img src="./assets/images/dashboard/double check_ok.svg"> -->
              <i class="fas fa-info-circle green-color" style="font-size: 60px;"></i>
              <h5 class="modal-title pt-4 pb-4 mb-0" id="">Thank You  For Subscribing <br> Your payment is failed.<br> The tracking id no for your transaction  is {{trackingid}}</h5>
            
          
              <button (click)="dashboard()" type="submit" class="continue btn btn-primary  m-auto">Go Back</button>
          </div>

      </div>
    </div>
  </div>
</div>



 