.btn-primary {
  color: #fff;
  margin-left: 125px;
}
.btn-warning {
  color: #fff;
  margin-left: 100px;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  background-color: rgb(18, 142, 214);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
