<div class="edit_page">
  <div class="page_head">
    <h2>CONTENT UPDATE</h2>
 </div>

 <div class="row ">
  <div class="col-md-12">
    <div class="subhead mt-3 mb-3">
      <h4 class="d-md-flex align-items-center justify-content-between">Privacy Policy Section</h4>
    </div>

   <div class="round_brdr_box bg-white no_radius">
    <form [formGroup]="PrivacyPolicySectionForm">

      <div class="row">
        <div class="col-md-12">
          <div class="subhead mb-2">
            <h4>Title:</h4>
          </div>
          <div class="form-holder1 w-100 p-0 mb-2">
            <div class="input-group">
            <input type="text" formControlName="Title" class="form-control" placeholder="Enter Title" autocomplete="off">
            <div *ngIf="submitted && cuf.Title.errors" class="invalid-feedback">
              <div *ngIf="cuf.Title.errors.required">Title is required</div>
              <div *ngIf="cuf.Title.errors.pattern">Please enter valid Title</div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="subhead mb-2">
            <h4>Description:</h4>
         </div>
         <div class="form-holder1 w-100 p-0 mb-2">
            <div class="input-group">
            <ckeditor formControlName="Description" [editor]="Editor" (change)="onChange($event)" (ready)="onReady($event)"></ckeditor>
            <!-- //<textarea rows="4" formControlName="Description" class="form-control" placeholder="Enter Description" autocomplete="off"></textarea> -->
            <div *ngIf="submitted && cuf.Description.errors" class="invalid-feedback">
              <div *ngIf="cuf.Description.errors.required">Description is required</div>
              <div *ngIf="cuf.Description.errors.pattern">Please enter valid Description</div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="subhead mb-2">
            <h4>User Comment:</h4>
         </div>
         <div class="form-holder1 w-100 p-0 mb-2">
            <div class="input-group">
            <textarea rows="4" formControlName="Comment" class="form-control" placeholder="Enter Comment" autocomplete="off"></textarea>
            <div *ngIf="submitted && cuf.Comment.errors" class="invalid-feedback">
              <div *ngIf="cuf.Comment.errors.required">Comment is required</div>
              <div *ngIf="cuf.Comment.errors.pattern">Please enter valid Comment</div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="btm_btn mt-4 mb-4 col-md-12 " *ngIf=" currentUserType == 'Standard'" >
        <div class="d-flex justify-content-end">
           <div>
              <!-- <a href="" class="back  me-3">CANCEL</a> -->
              <button (click)="onCancel()" class="back btn  me-3">CANCEL</button>
           </div>
           <div class="d-flex justify-content-end">
              <!-- <a href="" class="draft">SUBMIT FOR APPROVAL</a> -->
              <button (click)="updatePrivacyPolicySection()" class="draft">SUBMIT FOR APPROVAL</button>
           </div>
        </div>
     </div>

     <div class="btm_btn mt-4 mb-4 col-md-12 " *ngIf=" currentUserType == 'Admin'">
      <div class="d-flex justify-content-end">
         <div>
            <!-- <a href="" class="back  me-3">CANCEL</a> -->
            <button (click)="onCancel()" class="back btn  me-3">CANCEL</button>
         </div>
         <div class="d-flex justify-content-end">
            <!-- <a href="" class="draft me-3">SAVE</a>
            <a href="" class="continue">PUBLISH</a> -->
            <button (click)="savePrivacyPolicySection()" class="draft me-3">SAVE</button>
            <button value="Approved" (click)="approvePrivacyPolicySection('Approved')" class="continue me-3">PUBLISH</button>
            <button value="Rejected" (click)="approvePrivacyPolicySection('Rejected')" class="continue">REJECT</button>
         </div>
      </div>
   </div>

      <!-- <button *ngIf=" currentUserType == 'Standard'" (click)="updatePrivacyPolicySection()" class="btn btn-success float-right mb-3"> <i class="fi flaticon-multiply"></i>&nbsp; Submit for Approval</button>
      <button *ngIf=" currentUserType == 'Standard'" (click)="onCancel()" class="btn btn-success float-right mb-3 mr-2">Cancel</button>

      <button *ngIf=" currentUserType == 'Admin'" (click)="onCancel()" class="btn btn-success float-right mb-3">Cancel</button>
      <button *ngIf=" currentUserType == 'Admin'" (click)="approvePrivacyPolicySection('Rejected')" class="btn btn-success float-right mb-3 mr-2"><i class="fi flaticon-multiply" value="Rejected"></i>&nbsp;Reject</button>
      <button *ngIf=" currentUserType == 'Admin'" (click)="approvePrivacyPolicySection('Approved')" class="btn btn-success float-right mb-3 mr-2"> <i class="fi flaticon-plus" value="Approved"></i>&nbsp; Approve & Publish</button> -->

    </form>
    </div>
  </div>
  </div>
</div>

