.selected-list .c-btn1 {
  width: 400px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  position: relative;
}
.SpaceSalary
{
padding-bottom: 5px;
}
.job_experience_review {
    max-height: 1025px;
}