<div class="container">
  <widget
    class="widget-auth animated fadeInUp mx-auto"
    [title]="'<h3 class=mt-0>Enter OTP</h3>'"
    [customHeader]="true"
    bodyClass="mt-0"
  >
  <br>
  <p class="widget-auth-info mb-3">
 Enter the 4 digit Code will be send to the registered Email Address
  </p>
  <form [formGroup]="ResendOTPForm">
    <!-- <alert type="danger alert-sm" *ngIf="registerService.errorMessage">
      {{registerService.errorMessage}}
    </alert> -->
    <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <label>E-mail Id</label>
          <input type="email" placeholder="Enter the EmailId"  formControlName="EmailId" class="form-control" autocomplete="off">
          <div *ngIf="submitted && rf.EmailId.errors" class="invalid-feedback">
            <div *ngIf="rf.EmailId.errors.required">Email id is required</div>
            <div *ngIf="rf.EmailId.errors.pattern">Please enter valid email id</div>
          </div>
        </div>
      </div>
      <h5>ResendOtp Timer &nbsp;&nbsp;<span id="time" class="text-primary">00:00</span></h5>
      </div>
    <div class="row justify-content-center mt-2">
      <div class="col-md-6">
        <button class="btn btn-inverse auth-btn" type="submit" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </form>
</widget>

</div>

