<!-- <div class="dashboard-page">
  <h1 class="page-title">Dashboard
    <small>
      <small>iApply Portal</small>
    </small>
  </h1>
  <div class="sidesWrapper">
    <div class="dashboardSide">
      <div class="row">

        <div class="col-12 col-sm-6 col-lg-3">
          <div class="pb-5 h-100">

            <widget class="h-100 mb-0"

                    [title]="'New User Registered'"
                    [close]=""
                    [fetchingData]="dashboardService.isReceiving"
            >
              <div class="d-flex justify-content-between align-items-center mb-lg">
                <h2><small>{{dashboardService.visits.countw}}</small><br><br><small>Week</small></h2>
                <h2><small>{{dashboardService.visits.countm}}</small><br><br><small>Month</small></h2>
                <h2><small>{{dashboardService.visits.county}}</small><br><br><small>YTD</small></h2>
                <i class="la la-arrow-right text-success rotate-315"></i>
              </div>

            </widget>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="pb-5 h-100">
            <widget class="h-100 mb-0"
                    [title]="'Total Active User'"
                    [close]=""
                    [fetchingData]="dashboardService.isReceiving"
            >
            <div class="d-flex justify-content-between align-items-center mb-lg">
              <h2><small>{{dashboardService.visits.count1}}</small><br><br><small>Current Month</small></h2>
              <i class="la la-arrow-right text-success rotate-315"></i>
            </div>
            </widget>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="pb-5 h-100">
            <widget class="h-100 mb-0"
                    [title]="'Job Applied'"
                    [close]=""
                    [fetchingData]="dashboardService.isReceiving"
            >

            <div class="d-flex justify-content-between align-items-center mb-lg">
              <h2><small>{{dashboardService.visits.count2}}</small><br><br><small>Current Month</small></h2>
              <i class="la la-arrow-right text-success rotate-315"></i>
            </div>
            </widget>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="pb-5 h-100">
            <widget class="h-100 mb-0"
                    [title]="'Total Job Applied'"
                    [close]=""
                    [fetchingData]="dashboardService.isReceiving"
            >

            <div class="d-flex justify-content-between align-items-center mb-lg">
              <h2><small>{{dashboardService.visits.count3}}</small><br><br><small>Current Month</small></h2>
              <i class="la la-arrow-right text-success rotate-315"></i>
            </div>
            </widget>
          </div>
        </div>
        <div class="col-12">
          <h3>Job Apply Analytics</h3>
         <main-chart [data]="dashboardService.mainChart" [isReceiving]="dashboardService.isReceiving"></main-chart>
        </div>
      </div>
    </div>

  </div>
</div> -->

<iframe src="https://iapplyuatapp.azurewebsites.net/bir?ReportName=AdminDashboard&ReportType=english" name="iFrame Name" scrolling="No" height="100%" width="100%" style="border: none;"></iframe>
