
<div class="row profile">
  <div class="col-lg-6 col-12">
    <h5><strong>Personal Information</strong></h5>
    <section class="widget">
      <div class="row edit-option">
        <span style="color: blue;">
          <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
        </span>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
              <img alt="profile image" [src]="getProfileImage()">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-left: 1rem;">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <label><strong>First Name</strong></label>
            </div>
            <div class="col-lg-6">
              <label>Pavan</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Last Name</strong></label>
            </div>
            <div class="col-lg-6">
              <label>Deshmukh</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Date of Birth</strong></label>
            </div>
            <div class="col-lg-6">
              <label>01/01/1993</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Current Nationality</strong></label>
            </div>
            <div class="col-lg-6">
              <label>Indian</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Other Nationality</strong></label>
            </div>
            <div class="col-lg-6">
              <label>Indian</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Current Visa Status</strong></label>
            </div>
            <div class="col-lg-6">
              <label>No Available</label>
            </div>
          </div> 
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Gender</strong></label>
            </div>
            <div class="col-lg-6">
              <label>Male</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Ethnicity</strong></label>
            </div>
            <div class="col-lg-6">
              <label>Casual</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Disability</strong></label>
            </div>
            <div class="col-lg-6">
              <label>No</label>
            </div>
          </div>   
        </div>
      </div>
    </section>
  </div>
  <div class="col-lg-6 col-12 col-md-12">
    <h5><strong>Contact Information dasa</strong></h5>
    <section class="widget">
      <div class="row edit-option">
        <span style="color: blue;">
          <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
        </span>
      </div>
      <div class="row" style="padding-left: 1rem;">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Primary Email Address</strong></label>
            </div>
            <div class="col-lg-6">
              <label>pavan@mailinator.com</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Secondary Email Address</strong></label>
            </div>
            <div class="col-lg-6">
              <label>pavan@mailinator.com</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Primary Phone Number</strong></label>
            </div>
            <div class="col-lg-6">
              <label>9876543210</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Secondary Phone Number</strong></label>
            </div>
            <div class="col-lg-6">
              <label>9876543210</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Current Address</strong></label>
            </div>
            <div class="col-lg-6">
              <label>plot no. 123, xyz nagar, abc road</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Country</strong></label>
            </div>
            <div class="col-lg-6">
              <label>India</label>
            </div>
          </div> 
          <div class="row">
            <div class="col-lg-6">
              <label><strong>City</strong></label>
            </div>
            <div class="col-lg-6">
              <label>Pune</label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label><strong>Zip Code/Postal Code</strong></label>
            </div>
            <div class="col-lg-6">
              <label>123456</label>
            </div>
          </div>  
        </div>
      </div>
    </section>
  </div>
</div>
  
<div class="row profile">
  <div class="col-lg-12 col-12">
    <section class="widget resume-widget">
      <Label><strong>Your Uploaded Resume</strong></Label>&nbsp;
      <span>File_name.docx</span>&nbsp;
      <span style="color: blue;">
        <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
      </span>
    </section>        
  </div>
</div>

<div class="row profile">   
  <div class="col-lg-6 col-12">
    <h5><strong>Job Experience</strong></h5>
    <section class="widget">
      <div class="row edit-option">
        <span style="color: blue;">
          <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
        </span>
      </div>
      <div class="row">

      </div>
    </section>

    <h5><strong>Your Achievements</strong></h5>
    <section class="widget">
      <div class="row edit-option">
        <span style="color: blue;">
          <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
        </span>
      </div>
      <div class="row">
        
      </div>
    </section>

    <h4><strong>Education</strong></h4>
    <section class="widget">
      <div class="row edit-option">
        <span style="color: blue;">
          <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
        </span>
      </div>
      <div class="row">
        
      </div>
    </section>

    <h4><strong>Patent Details</strong></h4>
    <section class="widget">
      <div class="row edit-option">
        <span style="color: blue;">
          <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
        </span>
      </div>
      <div class="row">
        
      </div>
    </section>

    <h4><strong>Job Preferences Details</strong></h4>
    <section class="widget">
      <div class="row edit-option">
        <span style="color: blue;">
          <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
        </span>
      </div>
      <div class="row">
        
      </div>
    </section>
    
    <h4><strong>Other Attachments</strong></h4>
    <section class="widget">
      <div class="row edit-option">
        <span style="color: blue;">
          <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
        </span>
      </div>
      <div class="row">
        
      </div>
    </section>
  </div>

  <div class="col-lg-6 col-12">
    <h5><strong>Your Certificates</strong></h5>
    <section class="widget">
      <div class="row edit-option">
        <span style="color: blue;">
          <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
        </span>
      </div>
      <div class="row">
        
      </div>
    </section>

    <h5><strong>Your Portfolio</strong></h5>
    <section class="widget">
      <div class="row edit-option">
        <span style="color: blue;">
          <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
        </span>
      </div>
      <div class="row">
        
      </div>
    </section>

    <h5><strong>Your Social Profiles</strong></h5>
    <section class="widget">
      <div class="row edit-option">
        <span style="color: blue;">
          <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
        </span>
      </div>
      <div class="row">
        
      </div>
    </section>

    <h4><strong>Project Details</strong></h4>
    <section class="widget">
      <div class="row edit-option">
        <span style="color: blue;">
          <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
        </span>
      </div>
      <div class="row">
        
      </div>
    </section>

    <h4><strong>Languages</strong></h4>
    <section class="widget">
      <div class="row edit-option">
        <span style="color: blue;">
          <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
        </span>
      </div>
      <div class="row">
        
      </div>
    </section>

    <h4><strong>Additional Information</strong></h4>
    <section class="widget">
      <div class="row edit-option">
        <span style="color: blue;">
          <a>Click Here to Edit &nbsp;<span class="glyphicon glyphicon-edit"></span></a>
        </span>
      </div>
      <div class="row">
        
      </div>
    </section>
  </div>
</div>

    
      
    
      


    
    
    
    

    
    
        
    
      
        