@import "../../styles/helpers";

@import "../../../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min";
@import "../../../../node_modules/bootstrap-timepicker/css/bootstrap-timepicker.min";
@import "../../../../node_modules/bootstrap-colorpicker/src/sass/colorpicker";
@import "../../../../node_modules/bootstrap-markdown/css/bootstrap-markdown.min";
@import "../../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
@import "../../../../node_modules/jasny-bootstrap/dist/css/jasny-bootstrap";
@import "../../styles/select2-variables";
@import "../../../../node_modules/select2/src/scss/core";
@import "../../../../node_modules/select2-bootstrap-theme/src/select2-bootstrap";

.fileinput.fileinput-new {
    .thumbnail {
      padding: $thumbnail-padding;
      line-height: $line-height-base;
      background-color: $thumbnail-bg;
      border: $thumbnail-border-width solid $thumbnail-border-color;
      border-radius: $thumbnail-border-radius;
      transition: all .2s ease-in-out;
      @include box-shadow(0 1px 2px rgba(0,0,0,.075));
    }
  }
  
  .fileinput-preview.fileinput-exists {
    border: 1px solid $input-border-color;
    border-radius: $border-radius;
    padding: 5px;
  }
  
  .fileinput.input-group {
    display: flex;
  }
  
  .fileinput-new.input-group .btn-file,
  .fileinput-new .input-group .btn-file {
    border-radius: 0 $border-radius $border-radius 0;
  
    &.btn-xs,
    &.btn-sm {
      border-radius: 0 $border-radius-sm $border-radius-sm 0;
    }
  
    &.btn-lg {
      border-radius: 0 $border-radius-lg $border-radius-lg 0;
    }
  }
  
  .form-group.has-warning .fileinput {
    .fileinput-preview {
      color: $warning;
    }
  
    .thumbnail {
      border-color: $warning;
    }
  }
  
  .form-group.has-error .fileinput {
    .fileinput-preview {
      color: $danger;
    }
  
    .thumbnail {
      border-color: $danger;
    }
  }
  
  .form-group.has-success .fileinput {
    .fileinput-preview {
      color: $success;
    }
  
    .thumbnail {
      border-color: $success;
    }
  }
  
  .btn-label {
    background: transparent;
    left: 2px;
    padding: 1px 6px;
  }

.invalid-feedback {
  display: block;
}

/***********************************/
/**          Post Links           **/
/***********************************/

.post-links{
  margin-bottom: 0;
  font-size: $font-size-sm;
  padding-left: 0;
  @include clearfix();
  > li{
    float: left;
    list-style: none;

    + li{
      &:before{
        color: #999;
        content: "\25cf";
        padding: 0 8px;
      }
    }
    > a{
      text-decoration: none;
      color: $text-muted;
      &:hover{
        color: $text-muted;
      }
    }
  }

  &.no-separator > li + li{
    margin-left: 12px;
    &:before{
      content: normal;
    }
  }
}

/***********************************/
/**          Post Comments           **/
/***********************************/

.post-comments{
  font-size: $font-size-sm;
  padding-left: 0;
  @include clearfix();

  .post-links + &{
    margin-top: $spacer / 2;
  }

  > li {
    padding: 10px;
    border-top: 1px solid #e7e7e7;
    list-style: none;
    @include clearfix();

    &:last-child{
      padding-bottom: 0;
    }
  }

  p:last-child{
    margin-bottom: 0;
  }

  .avatar{
    margin-top: 1px;
  }

  .author{
    margin-top: 0;
    margin-bottom: 2px;
    color: #7ca9dd;
  }

  .comment-body{
    overflow: auto;
  }

  h6.author > small{
    font-size: 11px;
  }

  .widget > footer &{
    margin-left: -$widget-padding-horizontal;
    margin-right: -$widget-padding-horizontal;
  }
}

/***********************************/
/**           Post User           **/
/***********************************/

.post-user{
  position: relative;
  @include clearfix();

  img{
    border: 3px solid white;
  }
}

/***********************************/
/**           Profile             **/
/***********************************/

.user-profile {
  .label {
    padding: 5px;
  }
}

.post-user-profile {
  margin-top: -75px;

  .contacts {
    display: block;
    margin-top: 15px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 0;
    text-align: center;

    > li {
      display: inline-block;
      line-height: 2.2;
      list-style: none;
      text-align: left;
      margin: 0 10px;

      @include media-breakpoint-up(lg){
        width: 150px;
        white-space: nowrap;
      }

      > a {
        color: lighten($text-color, 30%);
        text-decoration: none;

        &:hover,
        &:focus {
          color: $text-color;
        }
      }
    }
  }
}

.stats-row-profile {
  .stat-item {
    border-left: 0;
    text-align: center;

    &:nth(n + 1) {
      padding-left: 15px;
    }

    h6 {
      text-align: left;
    }

    @include media-breakpoint-up(lg){
      padding-right: 0;
    }

    .value {
      margin-bottom: 0.5rem;
      font-size: 28px;
      font-weight: $font-weight-base;
    }
  }
}

.activities{
  h3 {
    margin-left: 20px
  }
}
.event{
  .activities &{
    margin-top: $spacer;
    width: 100%;
    box-shadow: var(--widget-shadow);
  }
}

.event{
  background: $white;
  border-radius: $border-radius;
  padding: 20px 20px 0;
  position: relative;

  .post-comments{
    margin-left: -20px;
    margin-right: -20px;
  }

  > footer{
    margin: 20px -20px 0;
    padding: 10px 20px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: #f3f3f3;

    @include clearfix();

    .thumb{
      margin-left: 10px;
    }
  }


}

.event-heading{
  margin: 0 0 2px;
  font-weight: $font-weight-semi-bold;
  > a {
    text-decoration: none;
    color: #7ca9dd;
  }
  > small{
    font-weight: $font-weight-semi-bold;
    > a{
      text-decoration: none;
      color: $text-muted;
    }
  }
}

.event-map{
  display: block;
  height: 200px;
  margin: 0 -20px -20px;
  overflow: visible !important;
}

.event-image{
  margin: 0 -20px -20px;
  max-height: 260px;
  overflow: hidden;
  > img{
    max-width: 100%;
  }
}



.content.content-option {
    padding: 1rem 1rem !important;
    margin: 2rem 5rem;
    background-color: #dadada;
    border-radius: 10px;
  }
  .content-option-list {
    justify-content: space-around;
  }
  .content-option-item {
    background-color: #c5c5c5;
    margin: 1rem 1rem;
    text-align: center;
    padding: 2rem;
    cursor: pointer;
  }
  .mat-icon {
    transform: scale(2);
    margin-bottom: 1rem;
  }
  .content-option-item.active {
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-width: 5px;
  }
  
  .option-card {
    border: 1px solid black;
    // margin: 5rem 5rem;
    padding-top: 20px;
  }
  
  .align-center {
    text-align: center;
  }
  
  .content-item-box {
    margin: 0rem 3rem;
    padding: 1rem 0rem;
  }
  
  .content-lablel-box {
    background-color: #d6dee5;
    padding: 1.5rem 0rem;
  }
  
  .content-btn-box {
    padding: 10px 0px;
  }
  
  .content-btn {
    width: 12rem;
    padding: 10px 5px;
  }
  
  .content-item {
    margin-bottom: 2rem;
  }

  .widget {
    border: 1px solid #999;
  }
  .resume-widget {
    min-height: 75px;
  }
  .edit-option {
    flex-direction: row-reverse;
    margin-bottom: 1rem;
  }
