<div class="edit_page">
  <div class="page_head">
    <h2>CONTENT UPDATE</h2>
 </div>

 <div class="row">
  <div class="col-md-12">
    <div class="subhead mt-3 mb-3">
      <h4 class="d-md-flex align-items-center justify-content-between">Sitemap Section</h4>
    </div>

    <div class="round_brdr_box bg-white no_radius">
    <form [formGroup]="SitemapSectionForm">

      <div class="row">
        <div class="col-md-12">
            <div class="subhead mb-2">
              <h4>Page Name:</h4>
           </div>
           <div class="form-holder1 w-100 p-0 mb-2">
            <div class="input-group">
            <input type="text" formControlName="PageName" class="form-control" placeholder="Enter Page Name" autocomplete="off">
            <div *ngIf="submitted && cuf.PageName.errors" class="invalid-feedback">
               <div *ngIf="cuf.PageName.errors.required">Page Name is required</div>
                <div *ngIf="cuf.PageName.errors.pattern">Please enter valid Page Name</div>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="row">
          <div class="col-md-12">
              <div class="subhead mb-2">
                <h4>Page URL:</h4>
             </div>
             <div class="form-holder1 w-100 p-0 mb-2">
              <div class="input-group">
              <input type="url" formControlName="PageNameLink" class="form-control" placeholder="Enter Page URL" autocomplete="off">
              <div *ngIf="submitted && cuf.PageNameLink.errors" class="invalid-feedback">
                <div *ngIf="cuf.PageNameLink.errors.required">Page Name URL is required</div>
                <div *ngIf="cuf.PageNameLink.errors.pattern">Please enter valid Page Name URL</div>
              </div>
            </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              <div class="subhead mb-2">
                <h4>Description:</h4>
             </div>
             <div class="form-holder1 w-100 p-0 mb-2">
              <div class="input-group">
              <!-- <textarea rows="4" formControlName="Description" class="form-control" placeholder="Enter Description" autocomplete="off"></textarea> -->
              <ckeditor formControlName="Description" [editor]="Editor" (change)="onChange($event)" (ready)="onReady($event)"></ckeditor>

              <div *ngIf="submitted && cuf.Description.errors" class="invalid-feedback">
                <!-- <div *ngIf="cuf.Description.errors.required">Description is required</div> -->
                <div *ngIf="cuf.Description.errors.pattern">Please enter valid Description</div>
              </div>
            </div>
          </div>
          </div>
        </div>



        <div class="row">
          <div class="col-md-12">
              <div class="subhead mb-2">
                <h4>User Comment:</h4>
             </div>
             <div class="form-holder1 w-100 p-0 mb-2">
              <div class="input-group">
              <textarea rows="4" formControlName="Comment" class="form-control" placeholder="Enter Comment" autocomplete="off"></textarea>
              <div *ngIf="submitted && cuf.Comment.errors" class="invalid-feedback">
                <div *ngIf="cuf.Comment.errors.required">Comment is required</div>
                <div *ngIf="cuf.Comment.errors.pattern">Please enter valid Comment</div>
              </div>
            </div>
          </div>
        </div>
        </div>

        <div class="btm_btn mt-4 mb-4 col-md-12 " *ngIf=" currentUserType == 'Standard'" >
          <div class="d-flex justify-content-end">
             <div>
                <!-- <a href="" class="back  me-3">CANCEL</a> -->
                <button (click)="onCancel()" class="back btn  me-3">CANCEL</button>
             </div>
             <div class="d-flex justify-content-end">
                <!-- <a href="" class="draft">SUBMIT FOR APPROVAL</a> -->
                <button (click)="updateSitemapSection()" class="draft">SUBMIT FOR APPROVAL</button>
             </div>
          </div>
       </div>

       <div class="btm_btn mt-4 mb-4 col-md-12 " *ngIf=" currentUserType == 'Admin'">
        <div class="d-flex justify-content-end">
           <div>
              <!-- <a href="" class="back  me-3">CANCEL</a> -->
              <button (click)="onCancel()" class="back btn  me-3">CANCEL</button>
           </div>
           <div class="d-flex justify-content-end">
              <!-- <a href="" class="draft me-3">SAVE</a>
              <a href="" class="continue">PUBLISH</a> -->
              <button (click)="saveSitemapSection()" class="draft me-3">SAVE</button>
              <button value="Approved" (click)="approveSitemapSection('Approved')" class="continue me-3">PUBLISH</button>
              <button value="Rejected" (click)="approveSitemapSection('Rejected')" class="continue">REJECT</button>
           </div>
        </div>
     </div>

      <!-- <button *ngIf=" currentUserType == 'Standard'" (click)="updateSitemapSection()" class="btn btn-success float-right mb-3"> <i class="fi flaticon-multiply"></i>&nbsp; Submit for Approval</button>
      <button *ngIf=" currentUserType == 'Standard'" (click)="onCancel()" class="btn btn-success float-right mb-3 mr-2">Cancel</button>

      <button *ngIf=" currentUserType == 'Admin'" (click)="onCancel()" class="btn btn-success float-right mb-3">Cancel</button>
      <button *ngIf=" currentUserType == 'Admin'" (click)="approveSitemapSection('Rejected')" class="btn btn-success float-right mb-3 mr-2"><i class="fi flaticon-multiply" value="Rejected"></i>&nbsp;Reject</button>
      <button *ngIf=" currentUserType == 'Admin'" (click)="approveSitemapSection('Approved')" class="btn btn-success float-right mb-3 mr-2"> <i class="fi flaticon-plus" value="Approved"></i>&nbsp; Approve & Publish</button> -->

      </form>
      </div>
    </div>
  </div>
</div>

